@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

html,body{
    height: 100vh;
}

:root{



--font1:  "Passion One", sans-serif;
--font2:"Delius" , cursive;


}


header {
    width: 100%;
    height: 230px;
    background-color: black;
}
header h1 {
    font-family: var(--font1);
    color: white;
    font-size: 10vh;
    padding-top: 30px;
    text-align: center;
    
}
header p{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 5vh;
}
header p > a {
    
    color: white;
    text-decoration: none;
    font-size:5vh;
    
}
main{
    background-color: white;
}
section{   
    line-height: 2.0em;
    text-align:left;
    text-shadow: rgba(128, 128, 128, 0.514) 2px 3px 2px;
    font-family: var(--font2);
    font-weight:normal;
    font-size: 4.1vh;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 2.0em;
}
section.fundo{
    background:black url(imagens/background001.jpg) center center repeat-y fixed;
    background-size:cover;
    box-shadow: inset rgba(0, 0, 0, 0.384) 3px 3px 10px 5px;
    height: 90vh;
}
section.fundo > p {
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.301) ,transparent 60%);
    box-shadow: rgba(0, 0, 0, 0.432) 2px 2px 7px;
    padding: 15px 5px 15px 5px;
    margin-left: -10px;
    border-radius: 5px;
    display: inline-block;
}
section.fundo2 > p {
    color: white;
    background-image: linear-gradient(to right, rgba(90, 90, 90, 0.479) ,transparent 60%);
    box-shadow: rgba(0, 0, 0, 0.432) 2px 2px 7px;
    text-shadow: black 2px 3px 2px;
    margin-left: -10px;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    display: inline-block;
}
section.fundo2{
    background:black url(imagens/background002.jpg) center center repeat-y fixed;
    background-size:cover;
    box-shadow: inset rgba(0, 0, 0, 0.295) 3px 3px 10px 5px;
    height: 90vh;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--font2);    
}
a:hover{
    text-decoration: underline;
    
}
footer{
    color: white;
    background-color: black;
    height: 96px;
    width: 100%;
}
footer > p {
    padding: 20px 0px 20px 0px;
    text-align: center ;
}