@charset "UTR-8";
*{
    margin: 0%;
    padding: 0%
}
header{
    display: none;
}
main{
    margin: auto;
    width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: 1.0em;
}
h1{
    text-align: center;
}
p{
    padding: 10px;
}
a{
    text-decoration: none;
}