*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p {
    width: 560px;
    height: 485px;
    background-color: rgb(173, 170, 170);
    text-align: center;
    text-align: justify;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    background-color: black;
    width: 100%;
}
h1{
    background-color:aliceblue;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    height: 70px;
    width: 520px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #5c5c5c;
    margin: 10px 50px;
    padding: 18px;



}
a {
    text-decoration: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 2px solid #6d6d6d;
    text-align: center;
   margin:14px;
   border-radius: 15px; }
nav{
    padding: 0px;
    margin: 0px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #6363635d;
}
h2{
margin: auto;
padding: 10px;
text-align: center;
}
.menu{
width: 90px;
height: 50px;
font-size: 15px;
padding: 15px;
}
.menu:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
width: 90px;
height: 60px;
font-size: 29px;
padding: 10px;

}
.titulo{
margin-right:10%; 
}