@charset "UTF-8";

h1{
    text-align: center;
}
table{
    width: 500px;
    margin: auto;
    border-collapse: collapse;
}
td{
    padding: 20px;
    border: 1px,black, solid;

    text-align: center;
}
td.numero{
    
}