@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

html,body{
    height: 100vh;
}
:root{



--font1:  "Passion One", sans-serif;
--font2:"Delius" , cursive;


}


header {
    width: 100%;
    height: 200px;
    background-color: black;
}
header h1 {
    font-family: var(--font1);
    color: white;
    font-size: 3.0em;
    padding-top: 30px;
    text-align: center;
    
}
header p{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.9em;
}
header p > a {
    
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
}
main{
    background-color: white;
}
section{   line-height: 2.0em;
    text-align:left;
    min-width: 320px;
    font-family: var(--font2);
    font-weight:bold;
    font-size: 1.4em;
    padding-left: 5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-width: 320px;
}
section.fundo{
    background:black url(imagens/background001.jpg) center center repeat-y fixed;
    background-size:cover;
    height: 415px;
}
section.fundo > p {
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    padding: 15px 0px 15px 5px;
    margin-bottom: 10%;
    border-radius: 5px;
}
section.fundo2 > p {
    color: white;
    background-image: linear-gradient(right rgba(0, 0, 0, 0.555) transparent);
    padding: 15px 0px 15px 10px;
    border-radius: 5px;
}
section.fundo2{
    background:black url(imagens/background002.jpg) center center repeat-y fixed;
    background-size:cover;
    height: 415px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--font2);
    
}
a:hover{
    text-decoration: underline;
    
}
footer{
    color: white;
    background-color: black;
    height: 80px;
    width: 100%;
}
footer > p {
    padding: 20px 0px 20px 0px;
    text-align: center ;
}